In [1]:
import pandas as pd

In [2]:
de={
    "col1":[1,2,3,4,5],
    "col2":[6,7,8,9,10]
}

In [3]:
df=pd.DataFrame(de)

In [4]:
df

   col1  col2
0     1     6
1     2     7
2     3     8
3     4     9
4     5    10

In [16]:
df["z_col1"]=df["col1"]-df["col1"].mean()/df["col1"].std()

In [17]:
df["col1"].mean()

3.0

In [18]:
df

   col1  col2    z_col1
0     1     6 -0.897367
1     2     7  0.102633
2     3     8  1.102633
3     4     9  2.102633
4     5    10  3.102633