In [4]:
import pandas as pd
df=pd.read_csv('titanic.csv', usecols=['Pclass','Age','Fare','Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [5]:
import scipy.stats as stat
import pylab
import matplotlib.pyplot as plt

In [6]:
def plot_data(df,feature):
    plt.figure(figsize=(10,6))
    plt.subplot(1,2,1)#1st row 2 colunm,1st columns
    df[feature].hist()
    plt.subplot(1,2,2)#1st row 2 colunm,2nd columns
    stat.probplot(df[feature],dist='norm',plot=pylab)#dist=distribution
    plt.show()

In [7]:
plot_data[df,"Fare"]

TypeError: 'function' object is not subscriptable